:root {
  --color-primary: #006970;
  --color-primary-dark: #2E817A;
  --color-background-green-light: #e7f5f59d;
  --color-background-light: #F0F4F8;
  --color-background-secondary: #E0E7EB;
  --color-background-white: #FFFFFF;
  --color-text-main: #2C3A47;
  --color-text-secondary: #5A6976;
  --color-text-button-light: #FFFFFF;
  --color-button-primary: #379593;
  --color-button-primary-gradient: linear-gradient(135deg, #379593 0%, #2E817A 100%);
  --color-button-secondary: #4D7B7F;
  --color-button-primary-hover: linear-gradient(135deg, #2E817A 0%, #266B67 100%);
  --color-button-primary-active: #266B67;
  --color-success: #43C256;
  --color-error: #E74C3C;
  --color-warning: #FFD749;
  --color-info: #3498DB;
  --color-border-light: #D1DDE2;
  --color-border-focus: #379593;
  --color-border-hover: #2E817A;
  --box-shadow-light: 0 4px 12px rgba(0, 0, 0, 0.308);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-background-whitet);
  color: var(--color-text-main);
}