.header {
  width: 100%; 
  background-color: var(--color-background-green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 200px;

  @media (max-width: 940px) {   
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
    }

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    .imgHeader{
      @media (max-width: 640px) {   
        width: 200px;
      }
    }
    .imgArrow{
      @media (max-width: 640px) {   
        width: 20px;
      }
    }
    .imgG20{
      @media (max-width: 640px) {   
        width: 50px;
      }
    }
  }
}

// Responsividade
// @media (max-width: 1200px) {
//   .header {
//     padding: 0 100px; // Menor padding para telas médias
//   }

//   .imgHeader {
//     width: 150px; // Reduz o tamanho das imagens em telas médias
//   }
// }

// @media (max-width: 992px) {
//   .header {
//     padding: 0 50px; // Menor padding para tablets
//     flex-direction: column; // Coloca os itens em coluna
//     align-items: center;
//   }
//   .imgHeader {
//     width: 120px; // Reduz o tamanho das imagens em tablets
//   }

//   .header > div {
//     margin: 10px 0; // Espaçamento entre os itens
//   }
// }

// @media (max-width: 768px) {
//   .header {
//     padding: 0 20px; // Menor padding para dispositivos móveis
//   }

//   .imgHeader {
//     width: 100px; // Reduz o tamanho das imagens em dispositivos móveis
//   }
// }
