.linha-footer-1 {
  max-width: 900px;
  margin: 10px auto;
  padding: 10px;
}

@media (max-width: 640px) {
  .linha-footer-1 {
    max-width: 350px;
    margin: 0 auto;
    padding: 10px;
  }
}

.containner-footer {
  width: 100%;
  background-color: var(--color-primary);
  color: #fff;
}

.content-footer {
  max-width: 800px;
  margin: 10px auto 0;
  padding: 10px;
}

.icons-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 640px) {
  .icons-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icons-display div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.spanitem {
  font-size: 13px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#menu-central-fretamento {
  height: 60px;
  min-width: 125px;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 5px;
  margin: 15px 0;
}

#menu-central-fretamento > li {
  list-style: none;
  display: flex;
  flex-flow: row-reverse wrap;
}

#menu-central-fretamento li.tel a {
  font-size: .875rem;
  font-weight: bold;
  color: #fff;
}

#menu-central-fretamento li.desc-tel {
  height: 15px;
  display: block;
  margin-right: 10px;
}

#menu-central-fretamento li.desc-tel a {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .3px;
  display: block;
}

.menu-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  list-style: none;
}

.menu-horizontal li {
  list-style: none;
}

#menu-principal-responsivo,
#menu-principal li.hondajet:hover > ul,
#menu-principal .contato,
#submenu {
  display: none;
}

#submenu li.hondajet.plugdados-widget-menu-pagina-atual > ul {
  display: flex !important;
}

#menu-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  list-style: none;
  -ms-flex-item-align: end;
  align-self: flex-end;
  z-index: 999;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  justify-content: space-between;
  padding: 10px 0 0 0;
  border-top: 1px solid #fff;
}

#menu-principal li,
#submenu li {
  height: 35px;
  font-weight: 400;
  font-size: 13.5px;
  letter-spacing: .5px;
  color: #fff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 2px;
}
.btn-lojas-app {
  display: block;
  width: 150px;
  height: 50px;
  border: 1px solid #554c4a;
  text-indent: -10000px;
  margin: 10px;
  transition: .3s background linear;
  -webkit-transition: .3s background linear;
  -moz-transition: .3s background linear;
  -ms-transition: .3s background linear;
  -o-transition: .3s background linear;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#google-play {
  background: url(https://www.lideraviacao.com.br/pt-br/imagens/pagina/img-site-tema-9c86cd08438335352dec6d90da926b65-bg_geral.png)
    -172px -533px no-repeat;
}

#app-store {
  background: url(https://www.lideraviacao.com.br/pt-br/imagens/pagina/img-site-tema-9c86cd08438335352dec6d90da926b65-bg_geral.png)
    -165px -584px no-repeat;
}

#google-play:hover {
  background: #554c4a
    url(https://www.lideraviacao.com.br/pt-br/imagens/pagina/img-site-tema-9c86cd08438335352dec6d90da926b65-bg_geral.png)
    -172px -484px no-repeat;
}

#app-store:hover {
  background: #554c4a
    url(https://www.lideraviacao.com.br/pt-br/imagens/pagina/img-site-tema-9c86cd08438335352dec6d90da926b65-bg_geral.png)
    -165px -629px no-repeat;
}

#conteudo-aplicativo.conteudo #google-play {
  margin-left: 0px;
}

#conteudo-aplicativo.conteudo .shapez > div {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#page-footer {
  padding: 0 15px;
  z-index: 2;
  position: relative;
}

#page-footer .linha-footer-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#page-footer .linha-footer-2 .plugdados-widgets-webservices {
  order: -1;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
}

#page-footer .linha-footer-2 .plugdados-widgets-webservices .lojasapp {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

#page-footer .linha-footer-2 .plugdados-widgets-webservices .lojasapp div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#menu-rodape {
  -ms-flex-pack: distribute;
  justify-content: center;
  padding-bottom: 25px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px;
}

#menu-rodape > li > a {
  font-size: 1rem;
  font-weight: 400;
  color: #534541;
  cursor: default;
}

#menu-rodape > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px;
}

#menu-rodape ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 30px;
}

#menu-rodape ul li {
  text-indent: -10000px;
}

.certificacoes .certificacao-item a {
  display: block;
  width: 53px;
  height: 53px;
  background: url(https://www.lideraviacao.com.br/pt-br/imagens/pagina/img-site-tema-9c86cd08438335352dec6d90da926b65-bg_geral.png)
    left -43px no-repeat;
}

.parceiro .parceiro-item a {
  display: block;
  height: 53px;
}

.parceiro .parceiro-item img {
  display: block;
  width: 53px;
  height: 53px;
  margin: 0 auto;
}

.parceiro .parceiro-item .plugdados-widgets-menu-texto {
  display: none;
}

.parceiro .parceiro-item a[title="Bristow"] {
  background: url(https://www.lideraviacao.com.br/pt-br/imagens/pagina/img-site-tema-9c86cd08438335352dec6d90da926b65-bg_geral.png)
    1px -100px no-repeat;
}

.redes-sociais > a {
  text-indent: -10000px;
}

.redes-sociais > ul > li a {
  display: block;
  width: 38px;
  height: 38px;
  margin: 3px;
}

.redes-sociais .icon-facebook a {
  background: url(https://www.lideraviacao.com.br/pt-br/imagens/pagina/img-site-tema-9c86cd08438335352dec6d90da926b65-bg_geral.png)
    left -159px no-repeat;
}

.redes-sociais .icon-instagram a {
  background: url(https://www.lideraviacao.com.br/pt-br/imagens/pagina/img-site-tema-9c86cd08438335352dec6d90da926b65-bg_geral.png)
    -40px -159px no-repeat;
}

.redes-sociais .icon-linkedin a {
  background: url(https://www.lideraviacao.com.br/pt-br/imagens/pagina/img-site-tema-9c86cd08438335352dec6d90da926b65-bg_geral.png)
    -206px -159px no-repeat;
}

.redes-sociais .icon-twitter a {
  background: url(https://www.lideraviacao.com.br/pt-br/imagens/pagina/img-site-tema-9c86cd08438335352dec6d90da926b65-bg_geral.png)
    -81px -159px no-repeat;
}

.redes-sociais .icon-youtube a {
  background: url(https://www.lideraviacao.com.br/pt-br/imagens/pagina/img-site-tema-9c86cd08438335352dec6d90da926b65-bg_geral.png)
    -123px -159px no-repeat;
}

.redes-sociais .icon-wp a {
  background: url(https://www.lideraviacao.com.br/pt-br/imagens/pagina/img-site-tema-9c86cd08438335352dec6d90da926b65-bg_geral.png)
    -164px -159px no-repeat;
}

.politica-privacidade a {
  margin-bottom: -50px;
  font-weight: bold !important;
  cursor: pointer !important;
}
